@{
    ViewData["Title"] = "Home Page";
    Layout = "_ReactLayout";
}
@* 

@using Microsoft.Extensions.Hosting
@inject IWebHostEnvironment Env
@inject IConfiguration Config
@inject Mkw.Services.ViteManifestService Vite

@{
    var entry = Vite.GetManifestEntry("index.html");
    var viteBaseUrl = Config["Vite:ServerUrl"] ?? "http://localhost:5173";
}

@section Styles {
    @if (!Env.IsDevelopment() && entry.Css != null)
    {
        foreach (var cssFile in entry.Css)
        {
            <link rel="stylesheet" href="~/dist/@cssFile" asp-append-version="true" />
        }
    
    }
}

@section Scripts {

} *@

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@


